<main class="main">
  <h1>Nuestros FUNKO´S POP!</h1>
  <div class="products-container">
    {{#each products}}
        <div class="card">
        <div class="card-img">
            <img src="{{this.thumbnail}}" alt="">
        </div>
        <div class="card-info">
            <p class="text-title">{{this.title}}</p>
            <p class="text-body">{{this.description}}</p>
        </div>
        <div class="card-footer">
            <span class="text-title">{{this.price}}</span>
            <div class="card-button">
                
            </div>
        </div>
        </div>
    {{/each}}
  </div>
</main>