<h2>Index</h2>
<hr>

<ul>
    {{#each products}}
        <li>
            {{title}} -  <strong>{{description}}</strong>
        </li>
    {{/each}}
</ul>

{{>menu}}

<script src="/js/index.js"></script> 