
<main class="main">
    
    <br>
    <br>
    <img style="height: 5rem;"  src="https://funko.com/on/demandware.static/Sites-FunkoUS-Site/-/default/dw13aa617d/images/funko/svg/site-logo.svg" alt="LOGO FUNKO">
    <br>
    <br>
    <h3>
        Nuevas selecciones para ti
    </h3>
    <p class="home-text">Encuentra tu fandom en Funko, un centro de cultura pop. Agrega más diversión a tu día a día con tus fandoms y personajes favoritos en una variedad de figuras coleccionables, ropa, accesorios, peluches, figuras de acción, coleccionables digitales y más. Funko tiene la selección más grande del mundo de licencias de cultura pop y es el lugar perfecto para encontrar la próxima pieza para tu colección o regalos.
Funko también impulsa las marcas Loungefly, Mondo y Digital Pop!. Loungefly se especializa en darle vida a tu fandom a través de tu vestuario y accesorios. A quienes aman la música, el arte de pósters y las figuras de acción a escala les encantará la selección de Mondo. Los fanáticos de los coleccionables digitales encontrarán muchos de los mismos fandoms de la cultura pop que Digital Pop! a través de la plataforma Droppp. ¡Haz que cada día sea más feliz con las cosas que más amas!</p>
</main>