<h1>Productos en tiempo real</h1>
<form id="product-form">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" required>
    <button type="submit">Agregar producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> 